[		{
"firstname": "praveen",
"lastname": "gubbala",
"age": 36,
"gender": "male",
"city": "hyd"
}, {
"firstname": "srikanth",
"lastname": "gubbala",
"age": 32,
"gender": "male",
"city": "bengaluru"
}, {
"firstname": "pradeep",
"lastname": "reddy",
"age": 21,
"gender": "male",
"city": "hyd"
}, {
"firstname": "mounika",
"lastname": "mudiraj",
"age": 20,
"gender": "female",
"city": "nalgonda"
}, {
"firstname": "nikhil",
"lastname": "m",
"age": 22,
"gender": "male",
"city": "guntur"
}, {
"firstname": "riya",
"lastname": "bhadouria",
"age": 14,
"gender": "female",
"city": "indore"
}]

write javascript to print the following:
1. print all the firstnames
2. print all female students
3. print the elder among all students
4. print hyderbadi's only("hyd")
5. print the students under given age
6. print the students in a given city
7. Print the average age of all students
8. Sort the array based on their lastname

In [3]:
var myObj = [{"firstname": "praveen",
"lastname": "gubbala",
"age": 36,
"gender": "male",
"city": "hyd"
}, {
"firstname": "srikanth",
"lastname": "gubbala",
"age": 32,
"gender": "male",
"city": "bengaluru"
}, {
"firstname": "pradeep",
"lastname": "reddy",
"age": 21,
"gender": "male",
"city": "hyd"
}, {
"firstname": "mounika",
"lastname": "mudiraj",
"age": 20,
"gender": "female",
"city": "nalgonda"
}, {
"firstname": "nikhil",
"lastname": "m",
"age": 22,
"gender": "male",
"city": "guntur"
}, {
"firstname": "riya",
"lastname": "bhadouria",
"age": 14,
"gender": "female",
"city": "indore"
}]

## write javascript to print the following:

    1. print all the firstnames
    2. print all female students
    3. print the elder among all students
    4. print hyderbadi's only("hyd")
    5. print the students under given age
    6. print the students in a given city
    7. Print the average age of all students
    8. Sort the array based on their lastname

## 1. print all the firstnames

In [13]:
myObj.forEach(function(ele) {
    console.log(ele['firstname'])
})

praveen
srikanth
pradeep
mounika
nikhil
riya

## 2. print all female students

In [14]:
myObj.forEach(function(ele) {
    if(ele['gender']=='female') {
        console.log(ele)
    }
})

{ firstname: 'mounika',
  lastname: 'mudiraj',
  age: 20,
  gender: 'female',
  city: 'nalgonda' }
{ firstname: 'riya',
  lastname: 'bhadouria',
  age: 14,
  gender: 'female',
  city: 'indore' }

## 3. print the elder among all students

In [31]:
var my_arr = []
var max_age;
myObj.forEach(function(ele) {
    my_arr.push(parseInt(ele['age']))
    my_arr.sort()
})

In [33]:
myObj.forEach(function(ele) {
    if(ele['age'] == my_arr[my_arr.length-1]) {
        console.log(ele)
    }
})

{ firstname: 'praveen',
  lastname: 'gubbala',
  age: 36,
  gender: 'male',
  city: 'hyd' }

## 4. print hyderbadi's only("hyd")

In [34]:
myObj.forEach(function(ele) {
    if(ele['city'] == 'hyd') {
        console.log(ele)
    }
})

{ firstname: 'praveen',
  lastname: 'gubbala',
  age: 36,
  gender: 'male',
  city: 'hyd' }
{ firstname: 'pradeep',
  lastname: 'reddy',
  age: 21,
  gender: 'male',
  city: 'hyd' }

## 5. print the students under given age

In [38]:
var given_age = 25;

myObj.forEach(function(ele) {
    if(ele['age'] < given_age) {
        console.log(ele)
    }
})

{ firstname: 'pradeep',
  lastname: 'reddy',
  age: 21,
  gender: 'male',
  city: 'hyd' }
{ firstname: 'mounika',
  lastname: 'mudiraj',
  age: 20,
  gender: 'female',
  city: 'nalgonda' }
{ firstname: 'nikhil',
  lastname: 'm',
  age: 22,
  gender: 'male',
  city: 'guntur' }
{ firstname: 'riya',
  lastname: 'bhadouria',
  age: 14,
  gender: 'female',
  city: 'indore' }

## 6. print the students in a given city

In [39]:
var given_city = 'indore';

myObj.forEach(function(ele) {
    if(ele['city'] == given_city) {
        console.log(ele)
    }
})

{ firstname: 'riya',
  lastname: 'bhadouria',
  age: 14,
  gender: 'female',
  city: 'indore' }

## 7. Print the average age of all students

In [42]:
var my_arr = []
var max_age;
myObj.forEach(function(ele) {
    my_arr.push(parseInt(ele['age']))
    my_arr.sort()
})

console.log('Average age of all students %d', my_arr.reduce((a,b)=>a+b) / my_arr.length)

Average age of all students 24.166666666666668

## 8. Sort the array based on their lastname

In [52]:
for(var i=0; i < myObj.length; i++) {
    for(var j=i+1; j < myObj.length; j++) {
        if(myObj[i]['lastname'] < myObj[j]['lastname']) {
            [myObj[j], myObj[i]] = [myObj[i], myObj[j]]
        }
    }
        
}
console.log(myObj)

[ { firstname: 'pradeep',
    lastname: 'reddy',
    age: 21,
    gender: 'male',
    city: 'hyd' },
  { firstname: 'mounika',
    lastname: 'mudiraj',
    age: 20,
    gender: 'female',
    city: 'nalgonda' },
  { firstname: 'nikhil',
    lastname: 'm',
    age: 22,
    gender: 'male',
    city: 'guntur' },
  { firstname: 'praveen',
    lastname: 'gubbala',
    age: 36,
    gender: 'male',
    city: 'hyd' },
  { firstname: 'srikanth',
    lastname: 'gubbala',
    age: 32,
    gender: 'male',
    city: 'bengaluru' },
  { firstname: 'riya',
    lastname: 'bhadouria',
    age: 14,
    gender: 'female',
    city: 'indore' } ]